@import url(https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap);

.nav__bar,
.nav__links,
img {
  display: flex
}

.link a,
.link span,
.nav__logo a,
body {
  color: var(--white)
}

.about__card:last-child,
.btn {
  border: none
}

.about__card h4,
.discover__card__content h4,
.header__container h1,
.section__header {
  font-family: var(--header-font)
}

.btn,
.discover__btn {
  outline: 0;
  cursor: pointer
}

.about__card,
.contact__card,
.footer__bar,
.footer__container,
.gallery__content,
.hero__container p,
.journals__btn,
.section__header {
  text-align: center
}

:root {
  --primary-color: #0a0d14;
  --primary-color-light: #20242f;
  --secondary-color: #f49e09;
  --extra-light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lisu Bosa", serif
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem
}

.section__header {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center
}

.btn {
  padding: .75rem 1.5rem;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color)
}

img {
  width: 100%
}

a {
  text-decoration: none
}

body,
html {
  scroll-behavior: smooth
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--primary-color)
}

header {
  background-image: linear-gradient(to top, var(--primary-color), transparent), url("assets/header.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat
}

nav {
  background-color: rgba(0, 0, 0, .5);
  border-bottom: 1px solid var(--extra-light)
}

.nav__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 2rem
}

.nav__logo a {
  font-size: 1.2rem;
  font-weight: 600
}

.nav__links {
  list-style: none;
  align-items: center;
  gap: 2rem
}

.link a {
  padding: 1.5rem 5px;
  font-weight: 500;
  transition: .3s
}

.link a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color)
}

.link span {
  padding: 1rem 0;
  cursor: pointer
}

.contact__card:hover span,
.discover__card__content h4,
.footer__link a:hover,
.footer__socials span a:hover {
  color: var(--secondary-color)
}

.header__container {
  padding: 12rem 1rem
}

.header__container h1 {
  margin-bottom: 1rem;
  max-width: 700px;
  font-size: 4rem
}

.header__container h4 {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500
}

.header__container h4::after {
  position: absolute;
  content: "";
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 2rem;
  background-color: var(--white)
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center
}

.about__container :is(.section__header, .section__subheader) {
  text-align: left
}

.about__flex {
  margin: 2rem 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--primary-color-light)
}

.about__card {
  flex: 1 1 150px;
  border-right: 2px solid var(--primary-color)
}

.about__card h4 {
  margin-bottom: 5px;
  font-size: 3rem;
  font-weight: 600
}

.about__card p {
  font-size: .9rem
}

.about__image img {
  max-width: 450px;
  margin: auto
}

.discover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .05), transparent)
}

.blogs__card::after,
.discover__image::after,
.gallery__content {
  background-image: linear-gradient(to top, var(--primary-color), transparent)
}

.discover__grid,
.journals__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem
}

.discover__card {
  max-width: 320px;
  margin: auto
}

.discover__card:nth-child(2) {
  transform: translateY(5rem)
}

.blogs__card,
.discover__image {
  position: relative
}

.blogs__card::after,
.blogs__content,
.discover__image::after {
  position: absolute;
  left: 0;
  width: 100%
}

.discover__image::after {
  content: "";
  height: 50%;
  bottom: 0
}

.discover__card__content {
  padding: 0 2rem;
  transform: translateY(-50%)
}

.discover__card__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800
}

.discover__card__content p {
  margin-bottom: 2rem
}

.discover__btn {
  padding: .75rem 1rem;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white)
}

.blogs__container {
  padding: 5rem 0
}

.blogs__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.blogs__card::after {
  content: "";
  height: 100%;
  top: 0
}

.blogs__content {
  bottom: 0;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 1
}

.journals__content {
  padding: 2rem;
  background-color: var(--primary-color-light)
}

.journals__author {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem
}

.journals__author img {
  max-width: 30px;
  border-radius: 100%
}

.journals__author p {
  font-size: .9rem;
  opacity: .75
}

.journals__content h4 {
  margin-bottom: .5rem;
  font-size: 1.1rem;
  font-weight: 600
}

.journals__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem
}

.journals__footer p {
  font-size: .9rem;
  opacity: .5
}

.journals__footer span a {
  font-size: 1.5rem;
  color: var(--white);
  opacity: .75
}

.journals__btn {
  margin-top: 4rem
}

.hero__container p {
  font-size: 12rem;
  font-weight: 700;
  background-image: url("assets/banner.webp");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--extra-light)
}

.contact__col h4,
.gallery__content h4 {
  margin-bottom: 1rem;
  font-weight: 800;
  font-family: var(--header-font)
}

.gallery__container {
  padding: 5rem 1rem
}

.gallery__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem
}

.gallery__card {
  position: relative;
  overflow: hidden
}

.gallery__content {
  position: absolute;
  left: 50%;
  bottom: -8rem;
  transform: translateX(-50%);
  width: 100%;
  padding: 2rem 1rem;
  transition: .3s
}

.gallery__content h4 {
  font-size: 2rem
}

.gallery__card:hover .gallery__content {
  bottom: 0
}

.contact {
  background-image: linear-gradient(to top, rgba(255, 255, 255, .05), transparent)
}

.contact__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center
}

.contact__card {
  max-width: 250px;
  margin: auto;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border: 1px solid var(--extra-light);
  border-radius: 100%;
  cursor: pointer
}

.contact__card span {
  margin-bottom: 1rem;
  font-size: 2rem;
  transition: .3s
}

.contact__col h4 {
  font-size: 2.5rem
}

.contact__col h5 {
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font)
}

.footer__container h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600
}

.footer__socials {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem
}

.footer__socials span a {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
  transition: .3s
}

.footer__container p {
  max-width: 600px;
  margin: auto auto 4rem
}

.footer__nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem
}

.footer__link a {
  font-weight: 500;
  color: var(--white)
}

.footer__bar {
  padding: 1rem;
  font-size: .8rem;
  border-top: 1px solid var(--extra-light)
}

@media (width < 900px) {
  .link:not(.search) {
    display: none
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center
  }

  .blogs__grid,
  .contact__container,
  .discover__grid,
  .journals__grid {
    grid-template-columns: repeat(2, 1fr)
  }

  .about__container :is(.section__header, .section__subheader) {
    text-align: center
  }

  .about__image {
    grid-area: 1/1/2/2
  }

  .journals__grid {
    gap: 1rem
  }

  .hero__container p {
    font-size: 10rem
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr)
  }

  .contact__col:first-child {
    grid-area: 1/1/2/3;
    text-align: center
  }
}

@media (width < 600px) {
  .header__container {
    text-align: center
  }

  .header__container h4 {
    margin-left: 0
  }

  .about__card {
    border: none
  }

  .blogs__grid,
  .contact__container,
  .discover__grid,
  .journals__grid {
    grid-template-columns: repeat(1, 1fr)
  }

  .discover__card:nth-child(2) {
    transform: translateY(0)
  }

  .hero__container p {
    font-size: 6rem
  }

  .gallery__grid {
    grid-template-columns: repeat(2, 1fr)
  }

  .contact__col:first-child {
    grid-area: unset
  }
}